* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Lexend Deca"; }

main {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 2em; }
  @media (min-width: 768px) {
    main {
      height: 100vh;
      align-items: center; } }
  main .box-container {
    border-radius: 10px;
    overflow: hidden; }
    @media (min-width: 768px) {
      main .box-container {
        width: 60%;
        height: 500px;
        display: flex; } }
    main .box-container .box-1 {
      background-color: #e38826;
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2em; }
    main .box-container .box-2 {
      background-color: #006970;
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2em; }
    main .box-container .box-3 {
      background-color: #004241;
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2em; }
    main .box-container .box-head h1 {
      font-family: "Big Shoulders Display";
      color: #f2f2f2;
      text-transform: uppercase;
      margin-top: 1em; }
    main .box-container p {
      color: #f2f2f2;
      line-height: 2rem; }
  main button {
    background-color: transparent;
    width: 120px;
    padding: .7em 1em;
    border: #fff solid 2px;
    border-radius: 100px;
    color: #fff;
    font-family: "Lexend Deca";
    cursor: pointer; }
    main button:hover {
      background-color: #fff; }
      main button:hover:nth-child(1) {
        color: #e38826; }
      main button:hover:nth-child(2) {
        color: #006970; }
      main button:hover:nth-child(3) {
        color: #004241; }

.attribution {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 12px;
  padding-bottom: 1em; }
  .attribution a {
    text-decoration: none; }
