* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend Deca";
}

$colors: hsl(31, 77%, 52%),
hsl(184, 100%, 22%),
hsl(179, 100%, 13%);

@mixin desktop() {
    @media (min-width: 768px) {
        @content
    }
}



main {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    padding: 2em;

    @include desktop() {
        height: 100vh;
        align-items: center;
    }

    .box-container {
        border-radius: 10px;
        overflow: hidden;

        @include desktop() {
            width: 60%;
            height: 500px;
            display: flex;
        }

        @for $i from 1 through 3 {
            .box-#{$i} {
                background-color: nth($colors, $i); //nth($list, $n) Returns the nth element in a list	// ej: nth(1 2 3, 2) 2
                width: 100%;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 2em;
            }
        }

        .box-head {
            h1 {
                font-family: "Big Shoulders Display";
                color: hsl(0, 0%, 95%);
                text-transform: uppercase;
                margin-top: 1em;
            }
        }

        p {
            color: hsl(0, 0%, 95%);
            line-height: 2rem;
        }


    }



    button {
        background-color: transparent;
        width: 120px;
        padding: .7em 1em;
        border: #fff solid 2px;
        border-radius: 100px;
        color: #fff;
        font-family: "Lexend Deca";
        cursor: pointer;

        &:hover {
            background-color: #fff;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    color: nth($colors, $i);
                }
            }
        }
    }
}


.attribution {
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    font-size: 12px;
    padding-bottom: 1em;

    a {
        text-decoration: none;
    }
}